@{
    ViewData["Title"] = "TherapistDatabase Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TheraBase</h1>
    <p class="release_notes">Release Notes:
    <ul class="release_notes_list">
        <li>Click on Provider List above to see list of providers
            and their specialty areas.</li>
        <li>Clicking on an individual provider on the provider list
            will bring you to a where you can change/update provider 
            information, delete the provider, or schedule an appointment.</li>
        <li>To add a new provider, click on Add Provider above.</li>
        <li>Future features:<ul>
            <li>List providers by specialty area</li>
            <li>Sort provider table by column</li>
            <li>View provider's schedule and upcoming appointments</li>
            </ul> 
        </li>
    </ul>
    </p>
    <!--p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
