@{
    ViewData["Title"] = "TherapistDatabase Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ProviderBase</h1>
    <!--p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
