html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
    position: relative;
    min-height: 100%;
}
nav {
    background-color: #EFEFEF; /* neutral (gray) */
}
body {
    margin-bottom: 60px;
    background-color: #e3f2fd; /* light lilac? */
      
}

tr:nth-child(even) {
    background-color:  #CAEBF2; /* sky (blue) */
}

tr:nth-child(odd) {
    background-color: #EFEFEF /*#A9A9A9; carbon (gray) */
}

a {
    color: #FF3B3F;
    text-decoration: unset;
}

.form-control {
    color: black;
    margin-top: 5px;
}
.form-label {
    margin-top: 20px;
}
.control-label {
    padding: 10px, 5px, 10px, 5px;
    margin-top: 20px;
}


.form-control::placeholder {
    color: lightgray;
}


.release_notes {
    margin-top: 100px;
    text-align: left;
    color: gray;
}
.release_notes_list{
    text-indent: each-line;
    text-align:left;
    color: gray;
}
.navbar-brand {
    color: #FF3B3F;
}

.photo_container {
    width: 200px;
    height:200px;
    float:left;
}
.provider_photo {
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
}
.info_container {
    margin-top: 50px;
    margin-left: 200px;
    color: black;
    font-size: 20px;
}


.btn {
    color: white;
    background-color: #FF3B3F; /* watermelon (red) */
    margin: 20px 20px 20px 20px;
    width: 200px;
}

.btn:hover{
    color: white;
    background-color: darkred;
}

.single_provider_table tr,td {
    background-color: #e3f2fd;
    width: 50px;
}

img{
    border-style: ridge;
    border-width: 5px;
}

#add_prov_btn, #update_prov_btn {
    margin-top: 30px;
}
#provider_photo {
    margin-top: 30px;
    width: 200px;
    height: 200px;
}

.prov_title {
    font-size: 24px;
    text-align: center;
}